<%= link_to("Add a New Post!", posts_new_path) %>

<h1>ALL OF THE BLOG POSTINGS</h1>

<ul class="posts">
  <% @posts.each do |post| %>
    <li class="blog-post">Title: <%= post.title %></li> 
    <%= link_to("Edit Post", posts_edit_path(post.id)) %>
  
  	<%= link_to("Delete Post", post_path(post),
  	method: :delete) %>

  <% end %>
</ul>

<%= paginate @posts %>